{#

@file 		/views/index
@package 	Format'ciné
@author 	Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}

{# Header #}
{% include 'header.html.twig' %}


{# Content #}
{% block content %}

	{# Post title #}
	{% if post.post_title %}
		{% include 'components/post-title.html.twig' %}
	{% endif %}

	{# Post content #}
	{% if post.post_content %}
		<div class="Page-post-content Site-container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					{{- post.content -}}
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}


{# Footer #}
{% include 'footer.html.twig' %}
