{#
	/**
	 * views/partials/programming-navigation
	 */
 #}
<nav class="Programming__navigation">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			{% spaceless %}

			<button class="Programming__navigation__button--previous Programming__navigation__button js-movie-previous background-color-secondary">
				<svg>
					<use xlink:href="{{ theme.link }}/dist/icons.svg#arrow"></use>
				</svg>
			</button>
			<button class="Programming__navigation__button--next Programming__navigation__button js-movie-next background-color-secondary">
				<svg>
					<use xlink:href="{{ theme.link }}/dist/icons.svg#arrow"></use>
				</svg>
			</button>

			{% endspaceless %}

		</div>
	</div>
</nav>
