{#
	/**
	 * views/partials/programming-navigation
	 */
 #}
<nav class="Programming__navigation">
	<div class="row">
		<div class="col-12 col-md-4 offset-md-4">
			{% apply spaceless %}

				<button aria-label="{{ __( 'Previous', 'formatcine' ) }}" type="button" class="Programming__navigation__button--previous Programming__navigation__button js-movie-previous background-color-secondary">
					<svg><use xlink:href="{{ theme.link }}/dist/icons.svg#arrow"></use></svg>
				</button>
				<button aria-label="{{ __( 'Next', 'formatcine' ) }}" type="button" class="Programming__navigation__button--next Programming__navigation__button js-movie-next background-color-secondary">
					<svg><use xlink:href="{{ theme.link }}/dist/icons.svg#arrow"></use></svg>
				</button>

			{% endapply %}
		</div>
	</div>
</nav>
