{
	"extends": "airbnb",
	"rules":{
	    "no-console": 0,
	    "jsx-a11y/href-no-hash": "off",
  		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  		"indent": ["error", "tab"],
  		"no-tabs": 0,
      "consistent-return": 1
    },  
  	"globals": {
    	"document": false,
      "$": false,
      "window": false,
      "self": false
  	}
}