/**
 * Base
 */

html {
    // @extend %w-xs-100;
    overflow-x: hidden;
}

body {

    line-height: ( ( $base-line-height / $base-font-size ) * 1em );

    border: {
        style: solid;
        width: 25px 25px 0 25px;
    }
}

a, 
button {
    cursor: pointer;
    outline: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

i {
    @extend %font-style-normal!optional;
}

b, 
strong {
    font-weight: map-get( map-get( $font, weights ), bold );
}

p {
    @include margin ( 
        top 1em
        bottom 1em
    );
    
    font-size: 1em;
    line-height: $base-line-height-px;
}

ul,
ol {
    @include margin ( 
        top ( ( $base-line-height / $base-font-size ) * 1em ) 
        right 0
        bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        left 0
    );
    @include padding ( 
        top 0 
        right 0 
        bottom 0 
        left ( ( $base-line-height / $base-font-size ) * 1em ) 
    );
}

ul {
    // list-style-type: none;
}

li {
    @include margin ( 
        top ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        right 0 
        bottom ( ( ( $base-line-height / $base-font-size ) / 4 ) * 1em )
        left 0 
    );
}

hr {
    @extend %margin-xs-0;
    
    border: 0;
}

em {

    font: 
    {
        style: italic;
    }
}

iframe {
    border: 0;
}

blockquote {
    // Extend class
    @extend .font-title, .font-regular; 

    // Include margin
    @include margin ( 
        top ( ( $base-line-height / $base-font-size ) * 1em )
        right 0 
        bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        left 0 
    );

    // Include padding
    @include padding ( 
        top 20px 
        left ( $grid-outer-gutter-width * 2 ) 
        bottom 20px 
    );

    border: {
        left: {
            color: currentColor;
            style: solid;
            width: 10px;
        }
    }

    p {
        @extend %margin-xs-0;
    }
}

[disabled],
a.disabled {
    pointer-events: none;
}