{#
	/**
	 * views/components/post-title
	 * 
	 * @author  Levron Jérémy jeremy@19h47.fr
	 */
#}

<div class="Page-post-title Site-container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="color-main">
				{{ '&bull;&nbsp;' ~ post.post_title ~ '&nbsp;&bull;' }}
			</h1>
		</div>
	</div>
</div>