{#
	/**
	 * views/components/post-content
	 * 
	 * @author  Levron Jérémy jeremy@19h47.fr
	 */
#}

<div class="Page-post-content Site-container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			
			{{ post.post_content }}

		</div>
	</div>
</div>