/**
 * Guid
 *
 * /src/scss/components/guid
 *
 * @uses .Guid
 * @author Jérémy Levron <levronjeremy@19h47.fr>
 */
.Guid {
	@extend %Position-fixed-center, %Pointer-events-none;

	z-index: 10000;


	/**
	 * Match all classes starting by col-xs
	 */
	[class^='col-xs'] .Guid__column {
		background: {
			color: rgba( the_color( blue, pure ), .2 );
		}
	}


	[class^='col-xs']:nth-child(odd) .Guid__column {
		background: {
			color: rgba( the_color( red, strong ), .2 );
		}
	}


  	/**
  	 * Guid
  	 *
  	 * @uses .Guid__column
  	 */
	&__column {
		@include size( 100% );

		color: rgba( the_color( black ), .2 );
	}
}
