/**
 * Movie
 *
 * @uses .Movie
 */
.Movie {
	@extend %Transition-ease;

	@at-root .slick-active &,
		.slick-center & {
		outline: {
			style: solid;
			width: $grid-gutter-width / 2;
		}
	}

	/**
	 * Content
	 *
	 * @uses .Movie__content
	 */
	&__content {
		@include padding(
			top $grid-gutter-width / 2 right $grid-gutter-width / 2 bottom $grid-gutter-width / 2
				left $grid-gutter-width / 2
		);
	}

	/**
	 * Quarter
	 *
	 * @uses .Movie__quarter
	 */
	&__quarter {
		@extend %font-weight-extrabold,
			%text-transform-uppercase,
			%margin-bottom-0,
			%Transition-ease;
		@include absolute(top 0 left 0);
		@include autoAlpha(0);
		@include font(18.14, 40, 50);
		@include margin(top $grid-gutter-width / -2 left $grid-gutter-width / -2);
		@include padding(right $grid-gutter-width / 2 left $grid-gutter-width / 2);

		color: the_color(white);

		@at-root .slick-active &,
			.slick-center & {
			@include autoAlpha(1);
		}
	}

	/**
	 * Thumbnail
	 *
	 * @uses .Movie__thumbnail
	 */
	&__thumbnail {
		@extend %position-relative;

		height: 250px;
		background: {
			color: the_color(gray, dark);
		}

		img {
			@extend .d-inline-block, %vertical-align-middle;
			@include size(100%);

			object-fit: cover;
		}
	}

	/**
	 * Title
	 *
	 * @uses .Movie__title
	 */
	&__title {
		@extend %font-weight-extrabold, %margin-y-0;
		@include font(25, 30);
	}

	/**
	 * Directors
	 *
	 * @uses .Movie__directors
	 */
	&__directors {
		@extend %font-weight-semibold, %margin-y-0;
		@include font(20, 24);
	}

	/**
	 * Facts
	 *
	 * @uses .Movie__facts
	 */
	&__facts {
		@extend %text-transform-uppercase, %font-weight-extrabold;
		@include font(15.99, 21.52, 100);
		@include margin(top $grid-gutter-width / 1.5 bottom $grid-gutter-width);

		color: the_color(gray, very-dark-mostly-black);
	}

	/**
	 * Summary
	 *
	 * @uses .Movie__summary
	 */
	&__summary {
		@include font(16.01, 20.01);
		@include margin(top $grid-gutter-width);

		color: the_color(gray, very-dark);
	}

	/**
	 * Review
	 *
	 * @uses .Movie__review
	 */
	&__review {
		@extend %font-weight-extrabold;
		@include font(16.01, 20.01);
	}

	/**
	 * Document
	 *
	 * @uses .Movie__document
	 */
	&__document {
		@extend .d-block,
			.d-md-inline-block,
			%font-weight-semibold,
			%Transition-ease,
			%text-align-center;
		// @include autoAlpha( 0 );
		@include font(13.74, 29.45, 25);
		@include margin(top 10px bottom 10px);
		@include padding(right 5px left 5px);

		border: {
			style: solid;
			width: 1px;
		}
		width: 100%;

		@include media-breakpoint-up(md) {
			width: auto;

			@include margin(top 0 right 10px);

			&:last-child {
				@include margin(right 0);
			}
		}

		&:hover {
			color: the_color(white);
		}

		// @at-root
		// 	.slick-active &,
		// 	.slick-center & { @include autoAlpha( 1 ); }
	}

	/**
	 * Documents
	 *
	 * @uses .Movie__documents
	 */
	// &__documents {}

	/**
	 * Trailer
	 *
	 * @uses .Movie__trailer
	 */
	&__trailer {
		@extend %Transition-ease;
		// @include autoAlpha( 0 );

		font-size: 13.95px;
		line-height: normal;
		color: the_color(gray, dark);

		&::before {
			@extend .d-inline-block;
			@include margin(right 5px);
			@include size(15px, 10px);

			background: {
				image: url('#{ map-get( $directories, svg ) }youtube.svg');
			}
			content: '';
		}

		&:hover {
			text-decoration: underline;
		}

		// @at-root
		// 	.slick-active &,
		// 	.slick-center & { @include autoAlpha( 1 ); }
	}
}
