/**
 * Partners
 *
 * @uses .Partners
 */
.Partners {
	@include margin(bottom 90px);

	/**
	 * Partners-item
	 *
	 * @uses .Partners-item
	 */
	&-item {
		@extend %text-transform-uppercase, %font-weight-semibold, .d-block;
		@include font(18, 29.99, 100);

		color: the_color(gray, dark);

		&:hover {
			@extend %text-decoration-underline;
		}
	}
}
