/**
 * Programming
 *
 * @uses .Programming
 */
.Programming {
	/**
	 * Movie container
	 */
	&__movie-container {
		@extend %position-relative;
		@include margin(top $grid-gutter-width / 2 bottom $grid-gutter-width / 2);

		&__inner {
			transition: {
				duration: 0.3s;
				timing-function: ease;
				property: opacity;
			}
			@include autoAlpha(0);
			height: 0;

			&.is-active {
				@extend .d-block;
				@include autoAlpha(1);
				height: auto;
			}
		}
	}

	/**
	 * Programming title
	 *
	 * @uses .Programming-title
	 */
	&-title {
		@extend %text-align-center;
		@include margin(top 90px);
	}

	/**
	 * Programming filters
	 *
	 * @uses .Programming-filters
	 */
	&-filters {
		@extend %text-align-center;
		@include margin(top $grid-gutter-width bottom 50px);
	}

	/**
	 * Programming filter
	 *
	 * @uses .Programming-filter
	 */
	&-filter {
		@extend %text-transform-uppercase,
			%Transition-ease,
			%font-weight-extrabold,
			.d-inline-block;
		@include font(18, 30, 50);
		@include padding(right 10px left 10px);
		@include margin(top 5px bottom 5px);

		color: the_color(gray, very-dark-mostly-black);

		&:first-child {
			@include margin(top 0);
		}
		&:last-child {
			@include margin(bottom 0);
		}

		&:hover,
		&.is-active {
			color: the_color(white);
			background: {
				color: the_color(violet, slightly-desaturated);
			}
		}
	}

	/**
	 * Navigation
	 *
	 * @uses .Programming__navigation
	 */
	&__navigation {
		@include absolute(top 0 right 0 left 0);
		@include margin(top #{(250 / 2)}px);
		z-index: 50;

		&__button {
			@extend .d-inline-block, %vertical-align-middle;
			@include size(25px);

			&--previous {
				@extend %float-left;
				transform: rotate(180deg);
			}

			&--next {
				@extend %float-right;
				@include margin(right -1px);
			}

			svg {
				@extend .d-block;
				@include margin(top auto right auto bottom auto left auto);

				fill: the_color(white);

				max-width: 10px;
				max-height: 8px;
			}
		}
	}
}
