/**
 * School-trainings
 *
 * @uses .School-trainings
 */
.School-trainings {
	@include padding( top 75px bottom 75px );


	.description {
		@include font( 16, 20 );

		color: the_color( gray, very-dark );
	}


	/**
	 * Tease container
	 *
	 * @uses School-trainings-tease-container
	 */
	&-tease-container {
		@extend %Transition-ease;
		@include margin( top 30px );

		opacity: 1;

		.col-md-4:nth-child( 3n + 1 ) { clear:left; }

		&.is-loading { opacity: .3; }
	}


	/**
	 * Filters
	 *
	 * @uses .School-trainings-filters
	 */
	&-filters {
		@extend %list-style-type-none, %margin-md-y-0, %text-align-md-right, %padding-left-0;

		@include margin( top $grid-gutter-width bottom $grid-gutter-width );

		@include media-breakpoint-up( md ) {
			@include margin( top 0 );
		}

		.item {
			@extend .d-block, .d-md-inline-block, %margin-y-0;

			&:first-child button { @include margin( top 0 ); }
			&:last-child button { @include margin( bottom 0 ); }

			@include media-breakpoint-up( md ) {

				&:first-child button { @include margin( left 0 ); }
				&:last-child button { @include margin( right 0 ); }

			}

			button {
				@extend %font-weight-extrabold, %text-transform-uppercase, %Transition-ease;
				@include font( 18, 30, 50 );
				@include padding( right 10px left 10px );
				@include margin( top $grid-gutter-width / 4 bottom $grid-gutter-width / 4 );

				width: 100%;

				@include media-breakpoint-up( md ) {
					@include margin( top 0 right 19px bottom 0 left 19px );

					width: auto;
				}


				&:hover,
				&.is-active {
					background: { color: the_color( gray, very-dark-mostly-black ); }
					color: the_color( white );
				}
			}
		}
	}
}
