.Socials {
	@extend %list-unstyled;

	/**
	 * Menu
	 *
	 * @uses .Socials--menu
	 */
	&--menu {
		@extend %text-xs-center;
		@include margin( top 170px bottom 0 );

		color: the_color( white );
	}


	/**
	 * Header
	 *
	 * @uses .Socials--header
	 */
	&--header {
		@extend %text-xs-right;
		@include margin( top 0 );

		color: the_color( gray, dark ); }


	/**
	 * Item
	 *
	 * @uses .Socials-item
	 */
	&-item {
		@extend %margin-xs-y-0, %display-xs-inline-block;
		@include size( $grid-gutter-width );
		@include margin( right 7.5px left 7.5px );

		&:first-child { @extend %margin-xs-left-0; }
		&:last-child { @extend %margin-xs-right-0; }

		a {
			@extend %display-xs-block;

			&:hover { opacity: 0.7; }
		}

		svg {
			@extend %display-xs-inline-block, %vertical-align-middle;

			fill: currentColor;
			max-width: $grid-gutter-width;
			max-height: $grid-gutter-width;
		}
	}
}
