/**
 * Video
 *
 * @uses .Video
 */
.Video {
	@include margin( top $grid-gutter-width * 2 bottom $grid-gutter-width );
	@include padding( bottom $grid-gutter-width );
	border: {
		bottom: {		
			color: the_color( gray, dark );
			style: solid;
			width: 1px;
		}
	}

	&:last-child { @include margin( bottom 75px ); }

	/**
	 * Header
	 *
	 * @uses .Video-header
	 */
	&-header {
		@include margin( bottom $grid-gutter-width );
	}


	/**
	 * Title
	 *
	 * @uses .Video-title
	 */
	&-title {
		@extend %font-weight-extrabold, %margin-0;
		@include font( 24.8, 29.76 );
	}


	/**
	 * Meta
	 *
	 * @uses .Video-meta
	 */
	&-meta {
		@extend %font-weight-semibold, %margin-0, .d-inline-block;
		@include font( 19.84, 23.81 );
	}
}