{#
	/**
	 * /views/footer
	 * 
	 * @package WordPress
	 * @subpackage 19h47
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */
	
#}	
		<footer class="Site-footer background-color-main">
			<div class="Site-container">
				<div class="row">
					<div class="col-xs-12">

						{% include 'components/contact.twig' %}
	
					</div>
				</div>
			</div>
		</footer>	

		{{ wp_footer }}
		{% include 'components/guid.twig' %}
		
	</body>
</html>