{#
	/**
	 * /views/footer
	 * 
	 * @package WordPress
	 * @subpackage 19h47
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */
	
#}	
		<footer class="Site-footer">
			<a href="http://www.mokacreation.com/" target="_blank">Moka Création</a>
			<a href="http://19h47.fr" target="_blank">19h47</a>
		</footer>	

		{{ wp_footer }}
		{# {% include 'components/guid.twig' %} #}
		
	</body>
</html>