/**
 * Educational support
 */
.Educational-support {
	@include padding( top 75px bottom 75px );

	background: { color: the_color( gray, very-light ); }
	
	/**
	 * Introduction
	 *
	 * @uses .Educational-support__introduction
	 */
	&__introduction {
		@extend %font-weight-semibold, %text-transform-uppercase;
		@include font( 18, 30.01, 100 );
		@include margin( top 2em );

		color: the_color( gray, dark );
	}

	
	/**
	 * Content
	 *
	 * @uses .Educational-support__content
	 */
	&__content {
		@extend %font-weight-semibold;
		@include font( 16, 20 );

		color: the_color( gray, very-dark );
	}


	/**
	 * Information
	 *
	 * @uses .Educational-support__information
	 */
	&__information {
		@extend %font-weight-semibold;
		
		p span { @include font( 55, 20 ); }
		p:first-child { @extend %margin-0; }
		p:nth-child( 2 ) { 
			@extend %margin-top-0; 
			@include font( 16, 20 );
		}
	}
}