/**
 * Slider
 */
.Slider {

	// height: 225px;
	
	@include media-breakpoint-up( 'sm' ) {

		height: 550px;	
	}

	/**
	 * Title
	 *
	 * @uses .Slider .title
	 */
	.title {
		@extend %margin-y-0, %font-weight-regular;
		
		color: the_color( white );
		line-height: normal;

		span:nth-child( 1 ) {
			@extend %text-transform-uppercase, .d-block;
			@include letter-spacing( 400 );
			@include margin( bottom 20px );

			font-size: 24.09px;
		}
		span:nth-child( 2 ) {
			@extend %font-family-decor, .d-block;
			@include letter-spacing( 75 );
			
			font-size: 40.15px;
		}
	}

	
	/**
	 * Image
	 *
	 * .Slider .image
	 */
	.image {
		@extend 
			// %Position-absolute-center, 
			.d-block,
			%Pointer-events-none;
		@include margin( 
			right auto 
			left auto
		);

		max-width: 100%;
		max-height: 100%;

		object-fit: contain;
	}


	&-images {
		@extend %Position-absolute-center;
		@include margin( 
			top 64px 
			bottom 64px  
		);
		@include padding( 
			right $grid-gutter-width / 2 
			left $grid-gutter-width / 2 
		);

		.slick-list {
			height: 100%;
		}
	}


	/**
	 * Image moblile
	 */
	.image-mobile {
		@extend .d-md-none;
		@include margin( 
			top $grid-gutter-width 
			bottom $grid-gutter-width 
		);
		@include padding( 
			right $grid-gutter-width 
			left $grid-gutter-width 
		);
		@include size( 100%, auto );
	}
}