/**
 * Tease school-training
 */
.Tease-school-training {
	@include padding( 
		top $grid-gutter-width
		// right ( $grid-gutter-width / 2 )
		bottom $grid-gutter-width
		// left ( $grid-gutter-width / 2 )
	);
	@include margin( 
		// right #{ ( $grid-gutter-width / 2 ) * -1 } 
		// left #{ $grid-gutter-width * -1 } 
	);

	width: /* calc( */ 100% /* + #{ $grid-gutter-width } ) */;
	

	/**
	 * Thumbnail
	 *
	 * @uses .Tease-school-training__thumbnail
	 */
	&__thumbnail {
		@include margin( bottom $grid-gutter-width );

		height: 140px;
		background: { color: the_color( gray, dark ); }

		img {
			@extend .d-inline-block, %vertical-align-middle;
			@include size( 100% );

			object-fit: cover;
		}
	}

	
	/**
	 * Date
	 *
	 * @uses .Tease-school-training__date
	 */
	&__date {
		@extend %font-weight-semibold, %margin-y-0;

		color: the_color( gray, very-dark-mostly-black );
		font-size: 17.96px;
		line-height: normal;

		&:first-letter { text-transform: uppercase; }
	}
	

	/**
	 * Title
	 *
	 * @uses .Tease-school-training__title
	 */
	&__title {
		@extend %font-weight-extrabold;
		@include font( 24.94, 29.93, 0 );
		@include margin( top 10px );

		color: the_color( gray, very-dark-mostly-black );
	}

	
	/**
	 * Director
	 *
	 * @uses .Tease-school-training__director
	 */
	&__director {
		@include font( 16, 20 );
	}


	&__description {
		@include font( 16.03, 20.03 );

		color: the_color( gray, very-dark );
		text-transform: none;
	}

	&__read-more {
		@extend %font-weight-semibold, %Transition-ease, .d-block, .d-md-inline-block, %text-align-center;
		@include font( 13.76, 25, 25 );
		@include padding( right 5px left 5px );
		@include margin( top 25px );
		
		border: {
			color: currentColor;
			style: solid;
			width: 1px;
		}
		color: the_color( gray, very-dark-mostly-black );
		width: 100%;

		@include media-breakpoint-up( md ) {
			width: auto;
		}

		&:hover {
			// background: { color: the_color( gray, very-dark-mostly-black ); }
			// border: { color: the_color( gray, very-dark-mostly-black ); }
			color: the_color( white );
		}


		&__icon {
			@extend .d-inline-block, %vertical-align-middle;
			@include margin( left 4px );

			max-width: 10px;
			max-height: 8px;
			fill: currentColor;
		}
	}
}