/**
 * Visibilities
 *
 * @author Julien Vasseur <julien@poigneedemainvirile.com>
 */
@if ( $import-utilities-visibilities == true ) {

    // If Slicer breakpoint is instanciate
    @if ( $slicer-breakpoints-settings == true ) {

        // Loop through each breakpoint
        @each $breakpoint in $slicer-breakpoint-names {

            /**
             * Hidden
             */
            @include at( $breakpoint ) {
                
                %hidden-#{ unquote( $breakpoint ) } {
                    display: none !important;
                }

                .hidden-#{ unquote( $breakpoint ) } {

                    @extend %hidden-#{ unquote( $breakpoint ) };
                }
            }


            /**
             * Visible
             */
            // Loop through each display value
            @each $display in $visibility-display-values {

                .visible-#{ unquote( $breakpoint ) }-#{ unquote( $display ) } {
                    display: none !important;
                }

                @include at( $breakpoint ) {

                    %visible-#{ unquote( $breakpoint ) }-#{ unquote( $display ) } {
                        display: unquote( $display ) !important;
                    }

                    .visible-#{ unquote( $breakpoint ) }-#{ unquote( $display ) } {
                        
                        @extend %visible-#{ unquote( $breakpoint ) }-#{ unquote( $display ) };
                    }

                }
                
            }

        }
    }

    // If touch is enabled
    @if ( $visibility-touch == true ) {

        // Loop through each display value
        @each $display in $visibility-display-values {

            /**
             * No touch
             */                
            .visible-touch-#{ unquote( $display ) } {
                .no-touch & {
                    display: none !important;
                }
            }


            /**
             * Touch
             */
            .visible-touch-#{ unquote( $display ) } {
                .touch & {
                    display: unquote( $display ) !important;
                }
            }

        }

    }

}