/**
 * Page
 *
 * @uses .Page
 */
.Page {
	
	&-post {

		/**
		 * Title
		 *
		 * @uses .Page-post-title
		 */
		&-title {
			h1 {
				@extend %uppercase, %margin-xs-y-0, %text-xs-center;
				@include font( 50, normal, 50 );
			}
		}


		/**
		 * Content
		 *
		 * @uses .Page-post-content
		 */
		&-content {
			@extend %font-semibold, %uppercase, %text-xs-center;
			@include font( 18.01, 32.01, 100 );

			color: the_color( gray, dark );
		}
	}


	/**
	 * List adjacent
	 *
	 * @uses .Page-list-adjacent
	 */
	&-list-adjacent {
		@include margin( bottom $grid-gutter-width * 2 );
		&__item {
			@extend %display-xs-inline-block, %uppercase, %font-extrabold, %Transition-ease;
			@include padding( right 10px left 10px );
			@include font( 18, 30, 50 );

			color: the_color( white );
			width: 100%;

			@include from( 'md' ) {
				@include margin( top 0 right 20px bottom 0 left 20px );
				
				width: auto;

				&:first-child { @include margin( left 0 ); }
				&:last-child { @include margin( right 0 ); }
			}
			
			&:not(&--is-active) {
				background: { color: transparent; }
				color: the_color( gray, very-dark-mostly-black );
			}

			&:hover {
				color: the_color( white );
			}
		}
	}



	/**
	 * Introduction
	 *
	 * @uses .Page-introduction
	 */
	&-introduction {
		@extend %text-xs-center;
		@include margin( top $grid-gutter-width * 2 bottom $grid-gutter-width * 2 );
	}


	/**
	 * Button
	 *
	 * @uses .Page-button
	 */
	&-button {
		@extend %font-extrabold, %uppercase, %Transition-ease, %display-xs-inline-block;
		@include font( 18, 30, 50 );
		@include padding( top 3px right 10px bottom 3px left 10px );
		@include margin( bottom 100px );

		border: {
			width: 2px;
			style: solid;
		}
		color: the_color( white );

		&:hover {
			background: { color: transparent; }
		}
	}
}
