/**
 * Main
 *
 * @see https://sass-guidelin.es/#the-7-1-pattern
 */


/**
* Dependencies
*/
@import '~architecture/src/stylesheets/abstracts/easings';

@import 'abstracts/variables';
@import 'base/fonts';


/**
 * Vendors
 */
@import
	'~ress/ress',
	'vendors/bootstrap-imports',
	'vendors/slick';
	// 'vendors/slick-theme';



// Functions.
@import
	'~architecture/src/stylesheets/abstracts/functions';

// Mixins.
@import
	'~architecture/src/stylesheets/abstracts/mixins/create-class-color',
	'~architecture/src/stylesheets/abstracts/mixins/position',
	'~architecture/src/stylesheets/abstracts/mixins/margin',
	'~architecture/src/stylesheets/abstracts/mixins/padding',
	'~architecture/src/stylesheets/abstracts/mixins/letter-spacing',
	'~architecture/src/stylesheets/abstracts/mixins/size',
	'~architecture/src/stylesheets/abstracts/mixins/auto-alpha',
	'~architecture/src/stylesheets/abstracts/mixins/font',
	'~architecture/src/stylesheets/abstracts/mixins/power';

@import 'abstracts/placeholders';




/**
 * Base
 */
@import
	'base/base',
	'base/typography';


/**
 * Layout
 */
@import
	'layout/site';
	//'layout/header',
	//'layout/footer';


/**
 * Pages
 */
@import
	'pages/page';


/**
 * Components
 */
@import
	'components/logo',
	'components/slider',
	'components/discovery',
	'components/events',
	'components/tease-event',
	'components/tease-school-training',
	'components/guid',
	'components/educational-support',
	'components/reports',
	'components/school-trainings',
	'components/programming',
	'components/movie',
	'components/menu',
	'components/workshops',
	'components/socials',
	'components/video',
	'components/adult-training',
	'components/partners';



// Utilities.
@import
	'vendors/architecture-variables',
// 	'~architecture/src/stylesheets/utilities/colors',
// 	'~architecture/src/stylesheets/utilities/cursors',
	// '~architecture/src/stylesheets/utilities/displays',
	'~architecture/src/stylesheets/utilities/floats',
	'~architecture/src/stylesheets/utilities/fonts',
	'~architecture/src/stylesheets/utilities/margins',
	// '~architecture/src/stylesheets/utilities/overflows',
	// '~architecture/src/stylesheets/utilities/paddings',
	'~architecture/src/stylesheets/utilities/positions',
	'~architecture/src/stylesheets/utilities/sizes',
	'~architecture/src/stylesheets/utilities/text-aligns',
	// '~architecture/src/stylesheets/utilities/text-decorations',
	'~architecture/src/stylesheets/utilities/text-transforms',
	'~architecture/src/stylesheets/utilities/vertical-aligns',
// 	'~architecture/src/stylesheets/utilities/visibilities',
	// '~architecture/src/stylesheets/utilities/white-spaces',
	'~architecture/src/stylesheets/utilities/lists';



/**
 * Shame
 */
@import 'shame';
