/**
 * Base
 */

html {
    // @extend %w-xs-100;
    @extend %overflow-x-hidden;
}

body {

    line-height: ( ( $base-line-height / $base-font-size ) * 1em );

    @include media-breakpoint-up( md ) {
        border: {
            style: solid;
            width: $grid-gutter-width $grid-gutter-width 0 $grid-gutter-width;
        }
    }
}

a,
button {
    cursor: pointer;
    outline: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

i {
    @extend %font-style-normal!optional;
}

b,
strong {
    font-weight: map-get( map-get( $font, weights ), bold );
}

p {
    @include margin (
        top 1em
        bottom 1em
    );

    font-size: 1em;
    line-height: $base-line-height-px;
}

ul,
ol {
    @include margin (
        top ( ( $base-line-height / $base-font-size ) * 1em )
        right 0
        bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        left 0
    );
    @include padding (
        top 0
        right 0
        bottom 0
        left ( ( $base-line-height / $base-font-size ) * 1em )
    );
}

ul {
    // list-style-type: none;
}

li {
    @include margin (
        top ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        right 0
        bottom ( ( ( $base-line-height / $base-font-size ) / 4 ) * 1em )
        left 0
    );
}

hr {
    @extend %margin-0;

    border: 0;
}

em {

    font:
    {
        style: italic;
    }
}

iframe {
    border: 0;
}

blockquote {
    // Extend class
    @extend %font-family-title, %font-weight-regular;

    // Include margin
    @include margin (
        top ( ( $base-line-height / $base-font-size ) * 1em )
        right 0
        bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        left 0
    );

    // Include padding
    @include padding (
        top $grid-gutter-width
        left $grid-outer-gutter-width * 2
        bottom $grid-gutter-width
    );

    border: {
        left: {
            color: currentColor;
            style: solid;
            width: 10px;
        }
    }

    p {
        @extend %margin-0;
    }
}

[disabled],
a.disabled {
    pointer-events: none;
}
