{#


@file 		/views/pages/nos-partenaires.html.twig
@package 	frmtcn
@author 	Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	<div class="Site-container Partners">
		<div class="row">
			<div class="col-12 text-align-center">
				{% for partner in post.get_field( 'partners' ) %}
					{%- if partner.link -%}
						<a class="Partners-item" href="{{ partner.link }}" target="_blank">
					{%- else -%}
						 <p class="Partners-item margin-0">
					{%- endif -%}
						{{- partner.name -}}
					{{- partner.link ? '</a>' : '</p>' -}}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
