/**
 * Adult training
 *
 * @uses .Adult-training
 */
.Adult-training {
	@include margin( top 50px bottom 50px );
	
	/**
	 * Adult training teachers
	 *
	 * @uses .Adult-training-teachers
	 */
	&-teachers {
		@extend %text-xs-center;
		@include padding( 
			top 40px 
			right $grid-gutter-width
			bottom 50px 
			left $grid-gutter-width
		);
		@include margin( 
			bottom $grid-gutter-width 
		);
		background-color: the_color( gray, very-light );
		
		
		/**
		 * Thumbnail
		 *
		 * @uses .Adult-training-teachers__thumbnail
		 */
		&__thumbnail {
			@extend %display-xs-inline, %vertical-align-middle;
		}


		/**
		 * Title
		 *
		 * @uses .Adult-training-teachers__title
		 */
		&__title {
			@include font( 25, 30 );
			@include margin( 
				top $grid-gutter-width 
				bottom $grid-gutter-width 
			);
		}


		/**
		 * Content
		 *
		 * @uses .Adult-training-teachers__content
		 */
		&__content {
			@include font( 16, 20 );
			// @include margin( 
			// 	top $grid-gutter-width 
			// 	bottom $grid-gutter-width 
			// );
		}


		/**
		 * Link
		 *
		 * @uses .Adult-training-teachers__link
		 */
		&__link {
			@extend %font-extrabold, %uppercase, %display-xs-block, %display-md-inline-block;
			@include padding( right 10px left 10px );
			@include font( 18, 30, 50 );
	
			color: the_color( white );
			width: 100%;

			@include from( 'md' ) {
				width: auto;
			}
		}
	}
	

	/**
	 * Professional
	 */
	&-professional {
		@extend %text-xs-center;
		@include padding( 
			top 40px 
			right $grid-gutter-width
			bottom 50px 
			left $grid-gutter-width
		);
		@include margin( 
			bottom $grid-gutter-width 
		);
		background-color: the_color( gray, very-light );


		/**
		 * Thumbnail
		 *
		 * @uses .Adult-training-teachers__thumbnail
		 */
		&__thumbnail {
			@extend %display-xs-inline, %vertical-align-middle;
		}


		/**
		 * Title
		 *
		 * @uses .Adult-training-teachers__title
		 */
		&__title {
			@extend %font-extrabold;
			@include font( 25, 30 );
			@include margin( 
				top $grid-gutter-width 
				bottom 0
			);
		}


		/**
		 * Number days
		 *
		 * @uses .Adult-training-teachers__number-days
		 */
		&__number-days {
			@include font( 25, 30 );
			@include margin( top 0 );
		}


		/**
		 * Post content
		 *
		 * @uses .Adult-training-professional__post-content
		 */
		&__post-content {
			@include font( 16, 20 );
		}


		/**
		 * Contents
		 *
		 * @uses .Adult-training-professional__contents
		 */
		&__contents {

			&__title {
				@extend %uppercase, %font-extrabold;
				@include font( 18, 30, 100 );
			}
		}


		/**
		 * Content
		 *
		 * @uses .Adult-training-professional__content
		 */
		&__content {
			@include margin( top $grid-gutter-width bottom $grid-gutter-width );
			@include font( 16, 20 );
			color: the_color( gray, very-dark );

			&__title {
				@extend %font-semibold;
				@include font( 18, 22 );
				@include margin( bottom 0 );

				color: the_color( gray, very-dark-mostly-black );

				span {
					@extend %display-xs-inline-block, %vertical-align-middle;
					@include size( 22px );
					@include margin( right 10px );

					border: {
						color: currentColor;
						radius: 50%;
						style: solid;
						width: 1px;
					}
				}
			}
		}

		
		/**
		 * Document
		 *
		 * @uses .Adult-training-professional__document
		 */
		&__document {
			@include margin( bottom 0 );
		}
	}

	/**
	 * Comments
	 *
	 * @uses .Adult-training-comments
	 */
	&-comments {
		@extend %text-xs-center;
		@include padding( bottom $grid-gutter-width );
		@include margin( top $grid-gutter-width * 2 bottom $grid-gutter-width * 2 );
		
		.slick-track { @extend %margin-xs-0; }

		/**
		 * Title
		 *
		 * @uses .Adult-training-comments__title
		 */
		&__title {
			@extend %uppercase, %font-extrabold, %margin-xs-top-0;
			@include font( 29.93, 29.95, 50 );
			transform: translate3d( 0, -50%, 0 );
		}
	}


	/**
	 * Comment
	 *
	 * @uses .Adult-training-comment
	 */
	&-comment {
		@include margin( right $grid-gutter-width left $grid-gutter-width );
		/**
		 * Post
		 *
		 * @uses .Adult-training-comment__post
		 */
		&__post {
			@extend %font-semibold, %uppercase, %display-xs-inline-block, %margin-xs-top-0;
			@include padding( right 7px left 7px );
			@include letter-spacing( 100 );

			font-size: 14px;
			color: the_color( white );
		}


		/**
		 * Content
		 *
		 * @uses .Adult-training-comment__content
		 */
		&__content {
			@extend %margin-xs-bottom-0;
			@include font( 15.98, 19.97 );

			color: the_color( gray, very-dark-mostly-black );
		}


		/**
		 * Author
		 *
		 * @uses .Adult-training-comment__author
		 */
		&__author {
			@extend %font-extrabold, %margin-xs-top-0;
			@include font( 15.98, 19.97 );
		}


		/**
		 * Author url
		 *
		 * @uses .Adult-training-comment__author-url
		 */
		&__author-url {
			@extend %font-semibold, %display-xs-inline-block;

			text-decoration: underline;
		}


		/**
		 * Origin
		 *
		 * @uses .Adult-training-comment__origin
		 */
		&__origin {
			@extend %font-semibold;
		}
	}


	/**
	 * Conclusion
	 *
	 * @uses .Adult-training-conclusion
	 */
	&-conclusion {
		@include margin( bottom $grid-gutter-width * 2 );
		@extend %text-xs-center;

		p { @extend %font-semibold; }
		p span { 
			@extend %margin-xs-top-0;
			@include font( 55, 20 ); 
		}
		p:first-child { @extend %margin-xs-0; }
		p:nth-child( 2 ) { 
			@extend %margin-xs-top-0; 
			@include font( 16, 20 );
		}
	}
}