/**
 * Discovery
 *
 * @uses .Discovery
 */
.Discovery {
	@include margin( top 75px bottom 75px );

	.title {
		@extend 
			%font-extrabold, 
			%uppercase, 
			%position-xs-relative, 
			%display-xs-inline,
			%margin-xs-y-0;
		@include font( 30, 55, 50 );
		
		border: { 
			bottom: {
				color: currentColor;
				style: solid;
				width: 3px;
			}
		}
		color: the_color( gray, very-dark-mostly-black );
	}

	.description {
		@extend %font-semibold, %uppercase;
		@include font( 18.01, 30.02, 100 );
		@include margin( top 2em bottom 2em );

		color: the_color( gray, dark );
	}

	
	/**
	 * Item
	 *
	 * @uses .Discovery-item
	 */
	.item {
		@extend %text-xs-center;

		.pictogram {
			@extend %display-xs-inline-block, %vertical-align-middle;
			@include margin( bottom 1em );

			max-width: 77px;
			max-height: 75px;

			object-fit: contain;
		}
		.title {
			@extend %font-bold;
			
			border: none;
			font-size: 20.01px;
			line-height: normal;
		}
		.description {
			@include font( 16, 20, 0 );
			@include margin( top 1em bottom 0 );
			
			color: the_color( gray, very-dark );
			text-transform: none;
			
		}
	}
}
