/**
 * Reports
 *
 * @uses .Reports
 */
.Reports {
	@extend %text-xs-center;
	@include margin( 
		top 70px + $grid-gutter-width / 2 
		bottom 70px
	);
	@include padding( 
		right $grid-gutter-width
		left $grid-gutter-width
		bottom 50px 
	);

	/**
	 * Title
	 *
	 * @uses .Reports__title
	 */
	&__title {
		@extend %uppercase, %font-extrabold, %text-xs-center;
		@include font( 18, 30, 50 );
		@include margin( top $grid-gutter-width / -2 );

		color: the_color( gray, very-dark-mostly-black );
	}
	
	/**
	 * Subheading
	 *
	 * @uses .Reports__subheading
	 */
	&__subheading {
		@extend %font-semibold, %margin-xs-y-0;
		font-size: 17.96px;
		line-height: normal;
	}

	
	/**
	 * Content
	 *
	 * @uses Reports__content
	 */
	&__content {
		@include margin( top 2em bottom 2em );
		@include font( 16, 20 );

		color: the_color( gray, very-dark-mostly-black );
	}

	
	/**
	 * Label
	 *
	 * @uses .Reports__label
	 */
	&__label {
		@extend %font-extrabold, %uppercase, %display-xs-inline-block, %Transition-ease;
		@include margin( right auto left auto );
		@include padding( top 2px right 9px bottom 2px left 9px );
		@include font( 18, 30, 50 );
		
		color: the_color( white );
		border: { 
			color: transparent;
			style: solid;
			width: 3px;
		}

		&:hover {
			color: the_color( gray, very-dark-mostly-black );
			background: { color: transparent; }
			border: { color: the_color( gray, very-dark-mostly-black ); }
		}
	}
}