{#
	/**
	 * views/components/post-content
	 * 
	 * @author  Levron Jérémy jeremy@19h47.fr
	 */
#}

<div class="Page-post-content Site-container">
	<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			
			{{- post.post_content -}}

		</div>
	</div>
</div>